#
# bbs-go / dot env
#

LISTEN_ADDR=bbs.savla.int
LISTEN_PORT=5555

APP_NAME=bbs-go
APP_URLS_TRAEFIK=`${LISTEN_ADDR}`

PROJECT_NAME=${APP_NAME}
PROJECT_VERSION=0.6.1
GOLANG_VERSION=1.23

SWAPI_TOKEN=xxx

DOCKER_NETWORK_NAME=traefik_savla
DOCKER_CONTAINER_NAME=bbs-go
DOCKER_IMAGE_TAG=bbs-go:${PROJECT_VERSION}
DOCKER_INTERNAL_PORT=${LISTEN_PORT}
DOCKER_EXTERNAL_PORT=${LISTEN_PORT}
